.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: black;
    height: 50px;
    text-align: center;
    color: blanchedalmond;
}
.button  {
    align-content: center;
}
input[type="text"] {
    width: 20%;
    height: 20%;
}
input[type="button"]    {
    position: absolute;
    align-self: center;
}